<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>TQ-SentymentAnalysis </title>
    <style type="text/css">

#emojiPic {
  float: none;
  z-index: 0;
  position: relative;
  text-align: justify;
}

#Title {
  font-family: "Gotham Bold";
  font-size: x-large;
  text-align: center;
  color: #1f2ea4;
  font-weight: bold;
  float: none;
  display: grid;
}

#note {
  font-family: "Gotham Bold";
  font-size: small;
}

#send-button {
  float: none;
}

</style></head>
  <body id="Title">
    <p> TWITTER SEARCH SENTIMENT ANALYSIS <span style="font-family: monospace;"></span></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <img src="/static/thumbs.png" alt="¡Gracias!"  height="400" width="419"/>

      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; </p>

      <p> ¡Ya tienes tus archivos! Esperemos que te guste ;) <span style="font-family: monospace;"></span></p>

      <p>Sistemas Distribuidos - Universidad de Cádiz 2017/2018 </p>
      <p>Desarrollado por Miguel Ángel Álvarez García y Ana Gómez González </p>


  </body>
</html>
