<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="refresh" content="0;url=http://localhost:5000/results">
    <title>Loading...</title>
    <style type="text/css">
#loadingGIF {
  float: none;
  z-index: 0;
  position: relative;
  text-align: justify;
}

#textcreators {
  font-family: "Gotham Bold";
  text-align: center;
}


</style></head>
  <body id="textcreators">
    <!-- qs
 <script>
      window.setTimeout(function(){

       // Move to a new location or you can do something else
       window.location.href = "http://localhost:5000/results";

     }, 15000);

   </script> -->

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="/static/load.gif" alt="Loading" />
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp;&nbsp; </p>
    <p style="margin-left: 560px;"><br>
    </p>
    <p style="margin-left: 560px;"><br>
    </p>
    <p style="margin-left: 560px;"><br>
    </p>
    <p>Sistemas Distribuidos - Universidad de Cádiz 2017/2018 </p>
    <p>Desarrollado por Miguel Ángel Álvarez García y Ana Gómez González </p>

    <p><br>
    </p>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
